@media only screen and (max-width: 768px){
    #gridstyle{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1 fr 1fr;
    }

    .contrast{
        display: grid;
        grid-column: 1/2;
        grid-row: 2/3;
    }


}