h1 {
  text-align: center;
}

.cats {
  width: 500px;
  align-items: center;
  display: grid;
  margin: 0 auto;
}

.cats img {
  margin: 2px;
}

@keyframes blur {
  0%,
  90% {
    filter: blur(0px);
  }
  70% {
    filter: blur(20px);
  }
}

/*.cats img[data-src] {
  filter: blur(0.2em);
}*/

.cats img[src] {
  animation: blur 2s;
}
