.cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    color: #990033;
    background-color:#f0f0f5;
    }

    section{
        align-items: center;
        text-align: center;
        padding-bottom: 10px;
        border: .5px solid black;
    }

