@media only screen and (min-width: 1200px) {
  header #main-title {
    font-size: 40px;
  }

  header p {
    font-size: 30px;
    margin-top: 0;
    margin-left: 4px;
  }

  .banner {
    display: block;
    background-color: orange;
    color: black;
    text-align: center;
    padding: 20px 0;
  }

  .navigation {
    padding: 20px 0;
  }

  .navigation li {
    display: block; /* change state in small view */
    flex: 1 1 auto;
  }
  .navigation a {
    font-size: 30px;
    padding: 0.75rem 4.5rem;
  }
  .navigation li:first-child {
    display: none;
  }

  .ham {
    display: none;
  }

  /**Main**/
  main h1 {
    font-size: 30px;
    text-align: center;
  }
  div {
    max-width: 1000px;
  }
  .hero-ph img {
    width: 100%;
  }
  .herodiv {
    position: relative;
  }

  .weather-smr {
    position: absolute;
    top: 30px;
    left: 30px;
    background-color: rgba(189, 182, 182, 0.7);
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
  }

  .table {
    margin: 0 auto;
    display: block;
  }
  .table table {
    width: 900px;
    text-align: center;
    padding: 15px;
    font-family: "Lekton", sans-serif;
    font-size: 30px;
    background-color: #cac691; /*rgba(189, 182, 182, 0.7);*/
  }

  .table h3 {
    text-align: center;
    padding-bottom: 20px;
  }
  .article {
    margin: 0 auto;
  }
  .article img {
    margin: 5px;
    width: 40%;
    float: right;
  }

  .contact {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .map {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .contact-info {
    margin-top: 0;
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .contact-info ul li {
    list-style: none;
    font-family: "Lekton", sans-serif;
  }

  .social-media ul li a {
    float: right;
  }

  /**Gallery**/
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0;
    max-width: 1200px;
  }

  figure {
    margin: 10px;
    font-style: italic;
    width: 600px;
    border: 1px solid black;
  }

  figure img {
    width: 100%;
  }

  figcaption {
    padding: 5px;
  }

  form {
    max-width: 550px;
    margin: 0 auto;
  }
  textarea {
    font-size: 20px;
    width: 550px;
    height: 250px;
    border-radius: 5px;
    font-family: "lekton", sans-serif;
  }

  /**homepage**/
  .cities {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
  }

  .cities section {
    margin-left: 5px;
    max-width: 400px;
    
  }

  .cities section img {
    width: 90%;
  }
}
