@media only screen and (min-width: 32.5em) {

	.navigation {
		display: flex;
        margin-top: 0;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 auto;
	}
	.navigation a {
		text-align: center;
        padding: 35px;
	}
	.navigation li:first-child {
		display: none;
	}

    body{
        box-sizing: border-box;
        background-color: f5f3f4;
    }
    
    
    nav{
        background-color: #1d3557;
    }
    
    nav ul{
        list-style: none;
    }
    
    nav a{
        font-family: 'Lato', sans-serif;
        text-decoration: none;
        color: white;
    
    }

    .header{
        height: 150px;
    }

    h2{
        text-align: center;
    }

    .place-hd{
        margin: 10px auto;
        width: 100%;
    }

    .place-hd img{
        width: 100%;
    }

    .herodiv{
        position: relative;
        width: 960px;
        margin: auto;
    }

    .weathersummary{
        position: absolute;
        top: 50px;
        left: 35px;
        color: white;
        background: rgba(211,211,211, 0.8);
        padding: 20px;
    }

    section .subtitle{
        padding: 0;
    }

    .forecast {
        display: block;
        margin: 0 auto;
        max-width: 960px;
        margin-top: 10px;
        padding: 10px;
        background-color: #fbe680;
    }

    .article{
            
    }

    .hikers{
        float: right;

    }

    main{
        max-width: 960px;
        margin: 0 auto;
        
    }

    .contact{
        padding: 20px;
        margin-top: 60px;
        display:grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr;
        background-color: #ADE8F4;
    }

    .map{
        margin: 0 auto;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    .allcontact{
        grid-column: 2/3;
        grid-row: 1/2;
        text-decoration: none;
    }

    .allcontact ul li{
        text-decoration: none;
        list-style: none
    }

    .social-media{
        
    }

}